*{
  padding: 0;
  margin: 0;
  font-family: cursive;
}
.contenedor{
  width: 90%;
  margin:0 auto;
 
}
.puntaje{
  display: inline;
}

table{
  
  margin:0 auto;
  border-collapse: collapse; /* Une los bordes de las celdas */
 
}


table td {
 
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 65px;
}
td ~ td {
  border-left: black solid;
}
tr ~ tr {
  border-top: black solid;
}


h2{
  text-align: center;
}

#siguiente{
  display: none;
  margin: 0 auto;
}
#siguiente.mostrar{
  display: block;
}


